<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos & Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="info_box">
            <h1>Add a Dojo</h1>
            <form action="/add_dojo" method="POST">
                {% csrf_token %}
                <div class="input_line">
                    <label name="name">Name</label>
                    <input type="text" name="name_input">
                </div>
                <div class="input_line">
                    <label name="city">City</label>
                <input type="text" name="city_input">
                </div>
                <div class="input_line">
                    <label name="state">State</label>
                <input type="text" name="state_input">
                </div>
                <div class="input_line">
                    <label name="desc">Description</label>
                <input type="text" name="desc_input">
                </div>
                <input type="submit" value="Add" class="submit_button">
            </form>
        </div>
        <div class="info_box">
            <h1>Add a Ninja</h1>
            <form action="/add_ninja" method="POST">
                {% csrf_token %}
                <div class="input_line">
                    <label name="first_name">First Name</label>
                    <input type="text" name="first_name_input">
                </div>
                <div class="input_line">
                    <label name="last_name">Last Name</label>
                    <input type="last_name" name="last_name_input">
                </div>
                
                <div class="input_line">
                    <label for="dojo">Dojo</label>
                    <!-- The selec is the place to put the name to grab in views -->
                    <select  name="dojo_input">
                    {% for Dojo in all_dojos %}
                    <!-- make sure that the value is the id of the object in the for loop -->
                    <option value={{Dojo.id}}>{{Dojo.name}}</option>
                    {% endfor %}
                    </select>
                
                </div>
            <span class="break"></span>
            <input type="submit" value="Add" class="submit_button">
        </form>
        </div>
        <div class="info_box">
            <h1>All the Dojos</h1>
            <section>
                <!--needs a grab of both table1 and table2 all to do this in views-->
                <!--for table1 instance in table1-->
                {% for dojo in all_dojos %}<!--straight forward here-->
                <h3>{{dojo.name}}</h3>
                <form action="delete_ninja" method="POST">
                {% csrf_token %}
                <ul >
                    <!-- {{dojo.id}} leaving this for later understanding of what it took to figure this out -->
                    <!--Magic happens here this is how you grab the data from the nested for loop!-->
                    <!--for table2instance in table1instance.table2.set.all-->
                    {% for ninja in dojo.ninja.all %}
                    <li value="{{ninja.id}}" >{{ninja.first_name}} {{ninja.last_name}}<!--{{ninja.id}} no longer needed-->
                        <button id="ninja_delete" type="submit" value="{{ninja.id}}" name="ninja_id" class="submit_button">Delete Ninja</button>
                    </li>
                    {% endfor %}
                </ul>
                </form>   
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>